<body>
    <div class="container-fluid margen_superior" style="text-align: center ;">
    <div class="row">
        <h2>Experiencia Profesional</h2>
        <div class="col margen">
            <img src="../../assets/GCABA.png" class=" img-fluid" alt="GCABA">

            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Similique ipsum eaque tenetur, officia aliquid eos
                doloribus sapiente minus ad provident inventore deserunt
                doloremque libero quia dolores amet vero sit quis.</p>
        </div>

        <div class="col margen">
            <img src="../../assets/konecta.jpg" class=" img-fluid" alt="GCABA">

            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Similique ipsum eaque tenetur, officia aliquid eos
                doloribus sapiente minus ad provident inventore deserunt
                doloremque libero quia dolores amet vero sit quis.</p>
        </div>
    </div>
</div>
</body>