
<nav class="container-fluid">
    <div class="row">
    <div class="col-3">
        <img src="../assets/APLogo.png"alt="AP" width="100">
        <img src="../assets/LogosInti.png" alt="AP" width="150">
    </div>

        <div class="col">            
            <ul>
                <li><a routerLink="/perfil">Perfil</a></li>
                <li><a routerLink="/experiencia">Experiencia</a></li>
                <li><a routerLink="/educacion">Educación</a></li>
                <li><a routerLink="/habilidades">Habilidades</a></li>
                <li><a routerLink="/proyectos">Proyectos</a></li>
            </ul>
        </div>

        <div class="col-3">
           <a routerLink="/formulario" button id="boton" type="button" class="btn btn-outline-light" 
           style="margin-top:3px ;">Iniciar Sesion</a>
        </div>
     </div>
</nav>

