<body><div class="container-fluid">
  <div class="row">
    <div class="col imagen_perfil">
      <div>
        <img src="../../assets/foto.jpg" class="rounded-circle img-thumbnail img-fluid" alt="foto_perfil">
        </div>
        <section>
          <h1 style="font-size: 35px;">Dayne León <br>Programadora Full Stack</h1>
        </section>

      </div>
      <div class="col descripcion">
        <h2>Acerca de mi</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem numquam commodi impedit maiores repellat 
          delectus voluptatum est nam nemo maxime eveniet quod, 
          odio error aliquid omnis quibusdam accusamus molestiae 
          ea!</p>
      </div>
    </div>
  </div>
</body>